$body-bg: #fafaf9;
$body-color: #020617;
$navbar-dark-brand-color: #b1b1b1;
$navbar-dark-brand-hover-color:  #020617;
$navbar-dark-color: #b1b1b1;
$navbar-dark-hover-color: #020617;
$navbar-dark-active-color: #020617;
$navbar-dark-hover-color: #020617;
$primary: #fafaf9;
$secondary: #020617;