$body-bg: #fafaf9;
$body-color: #020617;
$navbar-dark-brand-color: #b1b1b1;
$navbar-dark-brand-hover-color:  #020617;
$navbar-dark-color: #b1b1b1;
$navbar-dark-hover-color: #020617;
$navbar-dark-active-color: #020617;
$navbar-dark-hover-color: #020617;
$primary: #020617;
$secondary: #d1d5db;
$light: #fafaf9;
$link-color: #379c9c;