### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### intellij ###
.idea/*

### documentation/latex ###
documentation/TheBook/*.pdf
documentation/TheBook/_build/*

msbms/priv/starting_database.sql

### Legacy, temporary exclusions, and cruft
application/msbms_old/*
